@import url('https://db.onlinewebfonts.com/c/8eb8a85526b1be9565ae437ea0f24def?family=CJPZSM+HelveticaNeueLTStd-Roman');

body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  background-color: #00A890;
  color: white;
  font-family: 'HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 300px;
  font-weight: 800;
  position: absolute;
  text-align: center;
  top: 0;
  left: 100px;
}

p {
  margin: 0;
  padding:0 10px;
  font-size: 24px;
  font-weight: 800;
}
