@import url("https://db.onlinewebfonts.com/c/8eb8a85526b1be9565ae437ea0f24def?family=CJPZSM+HelveticaNeueLTStd-Roman");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #00A890;
  color: white;
  font-family: "HelveticaNeueLTStd-Roman", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 300px;
  font-weight: 800;
  position: absolute;
  text-align: center;
  top: 0;
  left: 100px;
}

p {
  margin: 0;
  padding: 0 10px;
  font-size: 24px;
  font-weight: 800;
}

.item-1 {
  background-color: orange;
  width: 600px;
  height: 600px;
}

.item-2 {
  background-color: purple;
  width: 300px;
  height: 300px;
}

.item-3 {
  background-color: grey;
  width: 300px;
  height: 600px;
}

.item-4 {
  background-color: chartreuse;
  width: 300px;
  height: 300px;
}

.item-5 {
  background-color: brown;
  width: 300px;
  height: 300px;
}

.images__grid {
  margin-top: 200px;
}

.container__row {
  padding-left: 300px;
}

.row__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.nav__container__items {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.nav__container__items div {
  font-size: 16px;
}

.main__div__col-6-1 {
  padding-right: 0;
  margin-right: 0;
}

.main__div__col-6-2 {
  padding-left: 0;
  margin-left: 0;
}
